certifi
faiss-cpu==1.7.4
fastAPI
huggingface_hub
langchain-community
langchain-core
langchain-openai
langchain
line-bot-sdk
openai==1.9.0
pydub
pyicu
pymongo
pypdf
pythainlp==2.0.0
python-dotenv
sentence_transformers
slack-bolt
soundfile
SpeechRecognition
streamlit
tiktoken
torch
transformers
upstash-redis==1.1.0
uvicorn